

<section>

    <nav>
        <ul class="nav bg-dark">
            <li class="nav-item" routerLinkActive="bg-success">
                <a routerLink="/welcome"  class="nav-link text-light">Welcome</a>
            </li>
            <li class="nav-item" routerLinkActive="bg-success">
                <a routerLink="/helloworld"  class="nav-link text-light">HelloWorld</a>
            </li>
        </ul>
      </nav>

    <main>
        <router-outlet>
        </router-outlet>
    </main>

</section>